@model Admin_side.Models.tblProductDetail

@{
    ViewBag.Title = "Edit";
    ViewBag.Pro = 1;
}

<h2>Update</h2>


@using (Html.BeginForm("Edit", "tblProductDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductID)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Imagefile, new { type = "file", @id = "my-file", style = "display:none;" })
                <button type="button" onclick="document.getElementById('my-file').click()">Change Image</button>

                @Html.ValidationMessageFor(model => model.Imagefile)
                @*<input type="file"  name="Imagefile" required/>*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
