@model Admin_side.Models.tblorder

@{
    ViewBag.Title = "Create";
    ViewBag.Order = 1;
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PID, "PID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PID", String.Empty)
                @Html.ValidationMessageFor(model => model.PID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UID, "UID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UID", String.Empty)
                @Html.ValidationMessageFor(model => model.UID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CID, "CID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CID", String.Empty)
                @Html.ValidationMessageFor(model => model.CID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bill)
                @Html.ValidationMessageFor(model => model.Bill)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
