@model Admin_side.Models.tblPayment_Details

@{
    ViewBag.Title = "Edit";
    ViewBag.Pay = 1;
}

<h2>Update</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PaymentID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccNumber)
                @Html.ValidationMessageFor(model => model.AccNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName)
                @Html.ValidationMessageFor(model => model.BankName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mode)
                @Html.ValidationMessageFor(model => model.Mode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CvvNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CvvNo)
                @Html.ValidationMessageFor(model => model.CvvNo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
